@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: rgb(54, 136, 212);
    font-family: 'Open sans', sans-serif;
}

.validacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
    border-radius: 20px;
    margin: 50px 350px;
    background-color: white;
    height: 550px;
}

.validacao h1 {
    font-size: 40px;
    color: rgb(54, 136, 212);
}

input{
    padding-left: 15px;
    font-size: 1.3em;
    height: 40px;
    width: 300px;
}

.resultado-validacao {
    padding-top: 30px;
    font-size: 35px;
    font-weight: bolder;
}

#cpf {
    font-size: 20px;
}

.resultado-validacao-verdadeiro{
    color: green;
}

.resultado-validacao-falso{
    color: red;
}

button {
    font-size: 1.1em;
    height: 40px;
    width: 100px;
    background-color: rgb(54, 136, 212);
    color: white;
    font-weight: bold;
    border-radius: 2px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: rgb(42, 100, 155);
}